<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/animate.css">
<link rel="stylesheet" href="assets/css/jquery-ui.css">
<link rel="stylesheet" href="assets/css/bundle.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">
<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>





<div class="shop_wrapper ptb-90" style="position:fixed">
  <div class="container-fluid">
    <div class="row">
      <div class="shop_sidebar">
        <div class="search_filters_wrapper">
          <div class="size_clearfix widget  mb-30">
            <div class="widget_title">
              <h3>Đồ Uống Các Loại</h3>
            </div>
            <ul>
              <li>
                <input id="bia" type="checkbox" value="beer">
                <label for="facet_size">Bia</label>
              </li>

              <li>
                <input id="softdrink" type="checkbox" value="softdrink">
                <label for="facet_size_one">Nước Ngọt</label>
              </li>
              <li>
                <input id="water" type="checkbox" value="water">
                <label for="facet_size_two">Nước Suối,Nước Khoáng</label>
              </li>
              <li>
                <input id="otherdrink" type="checkbox" value="otherdrink">
                <label for="facet_size_two">Đồ Uống Khác</label>
              </li>
            </ul>
          </div>
          <div class="size_clearfix widget mb-30">
            <div class="widget_title">
              <h3>Sữa Các Loại</h3>
            </div>
            <ul>
              <li>
                <input id="milk" type="checkbox" value="milk">
                <label for="facet_size">Sữa Tươi</label>
              </li>

              <li>
                <input id="milkdac" type="checkbox" value="milkdac">
                <label for="facet_size_one">Sữa Đặc</label>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/ajax-mail.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>